#CloseButton, #Min_MaxButton{
    -fx-background-color:  #282839;
    -fx-border-color:  #282839;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-background-insets: 0, 1, 2;
}

#CloseButton: hover,
#CloseButton: focused,
#CloseButton: pressed{
    -fx-text-fill: #202225;
    -fx-background-color: #ED4245;
}

#Min_MaxButton: hover,
#Min_MaxButton: focused,
#Min_MaxButton: pressed{
    -fx-text-fill: #6C5CE7;
    -fx-background-color: #282B2E;
}

#LoginCancelButton{
    -fx-background-color:   #0984E3;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-background-insets: 0, 1, 2;
}

#LoginCancelButton: hover,
#LoginCancelButton: focused,
#LoginCancelButton: pressed{
    -fx-background-color: #1F88FF;
}

.text-field, .password-field{
    -fx-text-fill: #FFFFFF;
}

#Button, #LogoutButton{
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-background-insets: 0, 1, 2;
}

#Button: hover,
#Button: focused,
#Button: pressed{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #0078B9;
}

#LogoutButton: hover,
#LogoutButton: focused,
#LogoutButton: pressed{
    -fx-text-fill: #202225;
    -fx-background-color: #ED4245;
}